<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1 class="header">Система оценки эффективности поиска научной информации</h1>
      <div id="comparison-queries-region">
        <hr>

        <div class="" id="columnchart_comparison_values" style="width: 900px; height: 300px;"></div>

      </div>
      <hr>
    </div>

    <div class="col-lg-8">

    </div>
    <!-- /.row -->
    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Made by Aleksey Morozov </p>
        </div>
      </div>
      <!-- /.row -->
    </footer>

  </div>
</div>



<!-- /.container -->

