<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="<%= root_path %>">Главная</a>
        </li>
        <li>
          <a href="<%= search_efficiency_path %>">Эффективность поиска</a>
        </li>
        <li>
          <a href="#">О программе</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

  <div class="row">

    <!-- Blog Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h1>Google scholar</h1>

      <!-- Preview Image -->
      <div id="logo">
        <img class="img-responsive" src="http://scholar.google.com.ua/intl/ru/scholar/images/scholar_logo_lg_2011.gif" alt="">
      </div>
      <hr>
      <div id="search-efficiency-region">
            <h2>Показатели эффективности поиска</h2>
            <hr>
            <h3>Точность поиска</h3>
            <%= form_for :accuracy, url:search_efficiency_path do |f| %>
            <table border="1" style="background-color:#FFFFFF;border-collapse:collapse;border:1px solid #000000;color:#000033;width:100%" cellpadding="3" cellspacing="3">
              <tr>
                <td>Число документов</td>
                <td>Из них релевантных</td>
                <td>Точность</td>

              </tr>
              <tr>
              <tr>
                <td><input id="all_relevant1" type="text" style="width:100%"/></td>
                <td><input id="same_relevant1"type="text" style="width:100%"/></td>
                <td><input id="accurancy1" disabled type="text" style="width:100%"/></td>
              </tr>
              <tr>
                <td><input id="all_relevant2" type="text" style="width:100%"/></td>
                <td><input id="same_relevant2" type="text" style="width:100%"/></td>
                <td><input id="accurancy2" disabled type="text" style="width:100%"/></td>
              </tr>
              <tr>
                <td><input id="all_relevant3"type="text" style="width:100%"/></td>
                <td><input id="same_relevant3" type="text" style="width:100%"/></td>
                <td><input id="accurancy3" disabled type="text" style="width:100%"/></td>
              </tr>
              <tr>
                <td><input id="all_relevant4"type="text" style="width:100%"/></td>
                <td><input id="same_relevant4" type="text" style="width:100%"/></td>
                <td><input id="accurancy4" disabled type="text" style="width:100%"/></td>
              </tr>
            </table>
            <button type="submit" class="btn btn-primary"> Расчитать точность </button>
            <% end %>
        <div id="curve_chart" style="width: 900px; height: 500px"></div>

      </div>

      <hr>
    </div>
    <div class="col-lg-8">

    </div>
    <!-- /.row -->
    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; Your Website 2014</p>
        </div>
      </div>
      <!-- /.row -->
    </footer>

  </div>
</div>

<!-- /.container -->
